/* alerts.css */

.marker {
    background-image: url('../images/marker.png');
    background-size: cover;
    width: 25px;
    height: 41px;
    cursor: pointer;
}

.marker-shadow {
    background-image: url('../images/marker-shadow.png');
    background-size: cover;
    width: 41px;
    height: 41px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.toggle-buttons-container {
    display: flex;
    justify-content: flex-start; /* Align buttons to the left */
    width: 100%; /* Full width */
    background-color: var(--color-sand); /* Ensure background matches page background */
    padding: 10px 0;
    position: fixed;
    top: 80px; /* Adjust based on header height */
    z-index: 999; /* Ensure toggle-buttons are below header but above content */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.toggle-buttons {
    display: flex;
    justify-content: flex-start; /* Align buttons to the left */
    padding-left: 20px; /* Adjust based on the size of the left panel */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

    .toggle-buttons button {
        background-color: var(--color-light-grey) !important; /* Update to light grey */
        border: 1px solid var(--color-ocean);
        color: var(--color-ocean);
        padding: 10px 20px;
        cursor: pointer;
    }

        .toggle-buttons button.active {
            background-color: var(--color-ocean) !important;
            color: var(--color-white) !important;
        }

        .toggle-buttons button:not(:last-child) {
            border-right: none;
        }

        .toggle-buttons button:hover {
            background-color: #E0E0E0; /* Slightly darker grey for hover */
        }

/* Additional styles for layout */
:root {
    --color-ocean: #003E52;
    --color-turquoise: #00818F;
    --color-bushland: #546E00;
    --color-earth: #B8591F;
    --color-sand: #EDE5D9;
    --color-white: #FFFFFF;
    --color-light-grey: #F0F0F0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-sand);
    color: var(--color-ocean);
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--color-ocean);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        height: 60px; /* Resize to appropriate height */
        width: auto;
    }

.logo-text {
    color: var(--color-white);
    font-size: 24px; /* Adjust as needed */
    margin-left: 10px;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto; /* Push header-right to the far right */
}

.accessibility-options {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust spacing as needed */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

    nav ul li {
        display: inline;
    }

        nav ul li a {
            color: var(--color-white);
            text-decoration: none;
        }

.accessibility-options button {
    background-color: var(--color-turquoise);
    color: var(--color-white);
    border: none;
    padding: 5px;
    margin-left: 5px;
}

main {
    padding-top: 120px; /* Adjust the padding to ensure content starts below the fixed elements */
    flex: 1;
    display: flex;
    height: calc(100vh - 120px); /* Adjust based on header and toggle-buttons height */
    box-sizing: border-box;
}

.current-alerts, .interactive-map, .incident-details {
    margin-bottom: 20px;
}

aside {
    background-color: var(--color-earth);
    color: var(--color-white);
    padding: 20px;
}

footer {
    background-color: var(--color-bushland);
    color: var(--color-white);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.footer-links a {
    color: var(--color-white);
    margin: 0 10px;
    text-decoration: none;
}

.container {
    display: flex;
    flex: 1;
    height: calc(100vh - 70px); /* Adjust based on header and footer height */
}

.left-panel {
    width: 30%;
    padding: 20px;
    overflow-y: auto;
    background-color: var(--color-sand);
}

.right-panel {
    width: 70%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#expand {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.alert-list {
    list-style-type: none;
    padding: 0;
}

.alert-title {
    font-size: 1.1rem; /* Adjust the size as needed */
}

.alert-item {
    cursor: pointer;
    font-size: 0.9rem;
    padding: 10px;
    border: 1px solid var(--color-ocean);
    margin-bottom: 10px;
    background-color: #f0f0f0; /* Light grey background color */
    vertical-align: top;
}

/*    .alert-item:hover {
        background-color: var(--color-sand);
    }

    .alert-item:hover img {
        background-color: var(--color-sand);
    }*/

.alert-content {
    display: flex;
    align-items: center;
}

.icon-container {
    width: 50px;
    height: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.alert-details {
    margin-left: 10px;
    width: calc(100% - 60px);
}

#alertModal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

    #alertModal .modal-content {
        background-color: #fefefe;
        margin: 5% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    #alertModal .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        #alertModal .close:hover,
        #alertModal .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

 /* Responsive styles for mobile devices */  

@media (max-width: 768px) {  
    header {  
        flex-direction: column;  
        padding: 5px;  
    }  

    .logo-text {  
        font-size: 18px;  
    }  

    .toggle-buttons-container {  
        flex-direction: column;  
        align-items: flex-start;  
        padding: 5px;  
    }  

    #searchBox {  
        width: 150px;  
    }  

    main {  
        flex-direction: column;  
        padding-top: 80px;  
    }  

    .left-panel, .right-panel {  
        width: 100%;  
    }  

    .btn {  
        padding: 8px 12px;  
        font-size: 14px;  
    }  

    footer {  
        padding: 8px;  
        font-size: 12px;  
    }  

    .alert-item {  
        font-size: 0.8rem;  
        padding: 8px;  
        vertical-align: top;
    }  
}  
